# ──────────────────────────────────────────────────────────────────────────
# Chrome/Edge → hoyolab.com → F12 → Application → Cookies → hoyolab.com
#
# ltoken_v2       : uzun token string'i (v2_ ile başlar)
# ltuid_v2        : SADECE RAKAMLAR — hesap numarası (örn: 123456789)
# cookie_token_v2 : v2_ ile başlayan ikinci token — varsa ekle, yoksa boş bırak
# ──────────────────────────────────────────────────────────────────────────
LTOKEN_V2=v2_CAISDGM5b3FhcTNzM2d1OBokZjJmZGRmMjItZGRlMC00OTk0LTkyZmUtMmNmZjJhZDM5ZDNhIMqd1s0GKKDW528wmK2glgFCC2Jic19vdmVyc2VhWGpqAlNH.yo61aQAAAAAB.MEYCIQDf5V27Yh30eXw86O9jWq8bKF51p8wrCvfllh-NXrsQXAIhANWsFxEVK3JDjgY06veYLqNWaFCKiNDQy8hVl7WpQ5NU
LTUID_V2=315102872
COOKIE_TOKEN_V2=v2_CAQSDGNlMXRidXdiMDB6axokNDAzYWEyNjEtZWRlYy00MDEzLThiYjMtODk0NjNmZjRlOTY2IN6tjs4GKNXi1qsGMLfX7uABQgtoazRlX2dsb2JhbFhqagJTRw.3pbDaQAAAAAB.MEUCIQD-9jcizANu93_cn4_C4BLoRwDvQgVP1lLZkgUZYs0-HgIgbXP1ZUQf7sy2Tj-dDApacQEGWHsYv6YSIWwNKzwaGKE

# Genshin Impact UID'n (oyun içi profil sayfasından — 9 haneli rakam)
GENSHIN_UID=690983430

# Sunucu: os_euro | os_usa | os_asia | os_cht
GENSHIN_SERVER=os_euro
